/* Base Styles */
.comingSoon {
  font-family: "Lato", Arial, Helvetica, sans-serif; /* Fallback fonts */
  font-weight: 400;
  line-height: 1.7;
  color: var(--text-dark);
  transition: opacity 0.5s ease-in-out;
}



/* Main Title */
.main-title {
  text-align: center !important;
  margin-top: 4rem !important;
  margin-bottom: 8rem !important;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc !important;
}

.main-title h3 {
  font-size: clamp(2rem, 10vw, 3rem) !important; /* Responsive font size */
  text-transform: uppercase !important;
  font-weight: 800 !important;
  color: var(--text-medium) !important;
  transition: color 0.3s ease-in-out; /* Hover effect */
}

.main-title h3:hover {
  color: var(--text-dark) !important; /* Hover effect */
}

.main-title h5 {
  font-size: clamp(2rem, 6vw, 3rem) !important; /* Responsive font size */
  font-weight: 300 !important;
  text-transform: uppercase !important;
  transition: color 0.3s ease-in-out; /* Hover effect */
}

.main-title h5:hover {
  color: var(--text-dark) !important; /* Hover effect */
}

/* SVG Styles */
.svg-img {
  display: block ;
  margin: auto ;
}

svg {
  display: block ;
  margin: auto ;
}

/* Animations */
#clock {
  animation: clockHand 5s infinite linear !important;
  transform-box: fill-box;
  transform-origin: bottom;
  will-change: transform; /* Optimize animations */
}

#leftTree,
#righTree {
  animation: tree 2s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: bottom;
  will-change: transform; /* Optimize animations */
}

#man {
  animation: manBody 1s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: bottom;
  will-change: transform; /* Optimize animations */
}

#pc-circle {
  fill: #6ace66;
  stroke-width: 4;
  animation: change-light 4s linear infinite alternate;
}

/* Footer */
.comingSoon-footer {
  width: 100% !important;
  height: 40px !important;
  line-height: 35px !important;
  background-color: var(--bg-color) !important;
  font-size: clamp(1rem, 2vw, 1.75rem) !important;
}

/* Keyframes */
@keyframes clockHand {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes manBody {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}

@keyframes tree {
  from {
    transform: rotateZ(10deg);
  }
  to {
    transform: rotateZ(-20deg);
  }
}

@keyframes change-light {
  0% {
    stroke: #cd61f8;
  }
  25% {
    stroke: #6ace66;
  }
  75% {
    stroke: #2995c0;
  }
  100% {
    stroke: #e92949;
  }
}



/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}



/* Media Queries */
/* 
@media (max-width: 540px) {
  .main-title h3 {
    font-size: clamp(2.5rem, 8vw, 3rem) !important; /* Responsive font size *\
    text-transform: uppercase !important;
    font-weight: 700 !important;
    color: var(--text-medium) !important;
  }

  .main-title h5 {
    font-size: clamp(1.5rem, 5vw, 2rem) !important; /* Responsive font size *
    font-weight: 300 !important;
    text-transform: uppercase !important;
  }
}

@media (min-width: 768px) {
  .main-title h3 {
    font-size: clamp(4rem, 8vw, 6rem) !important; /* Responsive font size *
    text-transform: uppercase !important;
    font-weight: 800 !important;
    color: var(--text-medium) !important;
  }

  .main-title h5 {
    font-size: clamp(2.5rem, 6vw, 4rem) !important; /* Responsive font size *
    font-weight: 300 !important;
    text-transform: uppercase !important;
  }
} */